<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/join kl/style/header.css" />

    <title>Side-Bar</title>
</head>
<body>
    
    <div id="sidebar">

        <img class="sidebar-logo" src="../assets/icons/sidebar-logo.png">
        <div class="sidebar-menu">
          <div class="sidebar-link pointer"><img class="sidebar-icon" src="../assets/icons/summary-icon.png"><p>Summary</p></div>
          <div class="sidebar-link pointer"><img class="sidebar-icon" src="../assets/icons/add-task-icon.png"><p>Add Task</p></div>
          <div class="sidebar-link pointer"><img class="sidebar-icon" src="../assets/icons/board-icon.png"><p>Board</p></div>
          <div class="sidebar-link pointer"><img class="sidebar-icon" src="../assets/icons/contacts-icon.png"><p>Contacts</p></div>
        </div>
  
      <div class="legal-links">
        <div class="legal-text pointer">Privacy Policy</div>
        <div class="legal-text pointer">Legal notice</div>
      </div>
  
      </div>

  <script src="../script/header.js"></script>
</body>
</html>